html,
body {
  margin: 0;
  padding: 0;
}

h1 {
  padding: 0;
  margin: 0;
}

article > img {
  max-width: 100vw;
}

article > h1,
article > p {
  padding-left: 1rem;
  padding-right: 1rem;
}

article > p {
  color: gray;
}

.navbar {
  background-color: #3dc4fc;
  font-size: 2rem;
  text-align: center;
}

.navbar > a {
  text-decoration: none;
  color: white;
}
